// Colors //

$light-pink: #F2A1C7;
$blue: #4A6FA5;
$light-blue: #52D1DC;
$redwine: #830A48;
// $blue: #22009b;
$yellow: #ffc107;
$gray-light: #f8f9fa;
$gray-medium: #b9b9b9;
$gray-dark: #212529;
$white: #fefefe;


$primary: $light-pink;
$secondary: $blue;
$info: $redwine;
$headerbg: $light-pink;
$buttonbg: $redwine;
$medium: $gray-medium;
$dark: $gray-dark;
$like: $yellow;
$edit: $blue;
$delete: $light-blue;


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "buttonbg": $buttonbg,
  "info": $info,
  "headerbg": $headerbg,
  "like": $like,
  "medium": $medium,
  "dark": $dark,
  "edit": $edit,
  "delete": $delete
);

$headings-color: $blue;